{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <main>
        <div class="grid-container">
            <div class="grid-child-image">

                <img src="{{ asset('Images/fairwayWater.png') }}" alt="faireway with water" class="image-faireway" title="Fairway with water">
            </div>
            <div class="grid-child-form">

                <h1>Créer un compte </h1>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.mail) }}
                {{ form_row(registrationForm.plainPassword, {
                    label: 'Password'
                }) }}
                {{ form_row(registrationForm.agreeTerms) }}

                <button type="submit" class="btn">Valider</button>
                {{ form_end(registrationForm) }}

            </div>


{% endblock %}
